/*####### Defaluts #######*/
nav,
header,
footer{
   display:block;
}

body{
   line-height: 1;
   margin: 0;
}

label{
   font-size: 35px;
   font-weight: 600;
}

p{
   font-size: 25px;
   line-height: 1.2;
}

article p{
   font-size: 30px;
   padding: 20px;
}

.container{
   width: 1;
   margin: 0;
   padding-top: 4%;
   padding-bottom: 4%;
}

.row{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
	padding: 10px;
}

.row::after{
   display: table;
   clear: both;
   content: "";
}

.vl {
 border-left: 1px solid grey;
 height: 184px;
}

hr.solid {

        margin-top: 90px;
  border-top: 1px solid grey;


}





/*########### Search bar #############*/

ul.prosearch li{
    float: left;
}
ul.prosearch li.search-box{
    outline: none;
    display: block;
    float: right;
}

.tb{
    display: table;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

ul.prosearch li.search-box input, 
ul.prosearch li.search-box button
{
    color: #fff;
    font-family: Nunito;
    padding: 3px;
    margin: 15px;
    border: 0;
    background-color: transparent;
}

#cover
{
    background-color:  #f5f5f0;
    border-radius: 5px;
/*    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;*/
    transform: scale(0.7);
}

/*
ul.prosearch li.search-box input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}
*/

ul.prosearch li.search-box input[type="text"]::placeholder
{
    color: darkgray;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

ul.prosearch li.search-box button
{
    position: relative;
    display: block;
/*
    width: 84px;
    height: 96px;
*/
    cursor: pointer;
}

ul.prosearch li.search-box #s-circle
{
    position: relative;
    top: -4px;
    left: -4px;
    width: 23px;
    height: 23px;
    margin-top: 0;
    border-width: 5px;
    border: 5px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

ul.prosearch li.search-box button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(125deg);
    transition: 0.5s ease all;
}

ul.prosearch li.search-box #s-cover:hover #s-circle
{
    
    top: -1px;
    width: 40px;
    height: 10px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

ul.prosearch li.search-box #s-cover:hover span
{
    top: 50%;
    left: 56px;
    
    height: 17px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    height: 10px;
    width: 40px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
/*
    font-size: 10px;
    font-weight: 50;
    border-radius: 10px;
*/
    width: 40px;
    height: 10px;
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
/*    height: 17px;*/
    right: -6px;
/*    width: 40px;*/
/*    font-size: 100px;*/
/*    font-weight: 100;*/
    border-radius: 50px;
    width: 40px;
    height: 11px;
    background-color: white;
}



/*########### Furnture icons ##########*/
.explore{
	text-align: center;
	padding-bottom: 7%;
}

p.cont{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

div.fur_icon{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: antiquewhite;
}

img.Bed{
    margin-left: auto;
	margin-right: auto;
	display: block;
    height: 60px;
    width: 60px;
    
} 

img.chair{
	margin-left: auto;
	margin-right: auto;
	display: block;
    height: 65px;
    width: 55px;
}

img.Sofa{
	margin-left: auto;
	margin-right: auto;
	display: block;
    height: 55px;
    width: 77px;
}

img.Table{
	margin-left: auto;
	margin-right: auto;
	display: block;
    height: 55px;
    width: 77px;
}

ul.topnav li.topnav_right{
        float: right;
	    padding: 12px;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
   box-sizing: border-box;
}

/*####### Nav Bar #######*/

nav{
   width: 100%;
   margin: 0;
}

nav ul{
   background-color:white;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

ul.topnav li{

    list-style: none;
    float: left;

}
ul.topnav li.conPad{
    padding: 20px;

}
ul.topnav li.aboutPad{
   padding-bottom: 20px;
   padding-right: 20px;
   padding-top: 20px;
   padding-left: 0;
}


ul.topnav li.topnav-right {
   float: right;
}

ul.topnav a.pro{

    display: block;
    text-decoration: none;
    min-height: 16px;
        margin-left: 10px;
        padding: 25px;
    text-transform: uppercase;
    color:black;

}

ul.topnav a:hover{
/*    background-color: blue;*/
   color:orangered;
}

ul.topnav li a{
   display: block;
   text-decoration: none;
   min-height: 16px;
   text-align: center;
   padding: 14px;
   text-transform: uppercase;
   color:black;
}

ul.topnav li img{
   padding: 14px;
}

ul.topnav li a:hover{
/*    background-color: blue;*/
   color:orangered;
   text-decoration: underline;
}

ul.topnav li.dropdownIcon{
   display: none;
}

/*######### Drop Down product ######*/

.dropdown {

        position:absolute;
  display: inline-block;

}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
 max-width: 1000px;
 position: relative;
 margin: auto;
}

/* Hide the images by default */
.mySlides {
 display: none;
}

#slide1 {display:block}

/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 margin-top: -22px;
 padding: 16px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 user-select: none;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
 color: #f2f2f2;
 font-size: 15px;
 padding: 8px 12px;
 position: absolute;
 bottom: 8px;
 width: 100%;
 text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
 color: #f2f2f2;
 font-size: 12px;
 padding: 8px 12px;
 position: absolute;
 top: 0;
}

/* The dots/bullets/indicators */
.dot {
 cursor: pointer;
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

.active, .dot:hover {
 background-color: #717171;
}

/* Fading animation */
.fade {
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
}

@-webkit-keyframes fade {
 from {opacity: .4}
 to {opacity: 1}
}

@keyframes fade {
 from {opacity: .4}
 to {opacity: 1}
}





/*####### custom styles######*/

.heading
{
   text-align: center;
}

#section-1-gradient{
   background-image: linear-gradient(blue,#65a5ff);
}

/*################# Flip box ##############*/
.flip-box {
  background-color: transparent;
	border: 0px solid #fff;
  width: 350px;
  height: 250px;
  border: 1px solid white;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

h2.features
{
    text-align: center;
    margin: 40px;
    margin-top: 60px;
    

}

/* This container is needed to position the front and back side */
.box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-left: 60px;
}

.iconn{
	margin-top: 40px;
	margin-bottom: 0px;
}

.labelling{
	margin-top: 15px;
}




/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .box {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: white;
  color: black;
	box-shadow: -2px/*H*/ -2px/*V*/ 10px/*Blur*/ 2px/*Spread*/ rgba(0,0,0,.15),
       0 2px 3px 0 rgba(0/*shadow*/,0/*bacground color*/,0/*Box color*/,.15/*opacity*/),2px 2px 7px 2px rgba(0,0,0,1);
}

/* Style the back side */
.flip-box-back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
}

.linee{
	margin-top: 100px;
}

div.slopeIcon img{
   display: block;
   margin: auto;
   box-shadow: -2px/*H*/ -2px/*V*/ 20px/*Blur*/ 2px/*Spread*/ rgba(0,0,0,.15),
       0 2px 3px 0 rgba(0/*shadow*/,0/*bacground color*/,0/*Box color*/,.15/*opacity*/),2px 2px 17px 2px rgba(0,0,0,1);
}

button{
   font-size: 30px;
   font-weight: 700;
   color: #fff;
   background-color: #0069ff;
   padding: 15px 60px;
   display: block;
   text-align: center;
   margin: 5px;
   border-radius: 7px;
}

button.LearnMore{
   display: block;
   margin: auto;
}

div.icon{
   width: 100%;
}

div.leftSide-col{
   margin-left: 30%;
}

div.rightside-col{
   margin-left: 5%;
}

h1.large{
   color: #fff;
   font-size:56px;
   margin: 0;
   line-height: 70px;
}

h1.section2Header{
   font-size: 55px;
   text-align: center;
    
}

.labelling
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;

}

form h2{
   color: #fff;
}

input[type="text"]{
   font-size: 20px;
   width: 400px;
   min-width: 100px;
   padding: 5px;
   border-radius: 7px;
}

/*####### Footer #############*/

footer.footsy{
   background-color: blanchedalmond;
   padding:5%;
   padding-top: 2%;
}

footer.footsy h1.footer_heading{
   margin:3px;
    padding: 0;
    margin-bottom: 30px;;
   color: darkgray;
   font-size: 45px;
}

hr.solid2{
    border-top: 1px solid grey;
    margin-bottom: 35px;
}

div.row div.col-3 mobileStack{
    padding: 4%;
    align-content: center;
    text-align: center;
}

p.para{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

div.row div.col-3 mobileStack{
    padding: 30px;
}

div.icon_call{
    border: 1px solid gray;
    border-radius: 100%;
    margin: 0 auto 20px;
    height: 120px;
    width: 120px;
    padding: 7px;
    
/*    padding-top: 12px;*/
    
}

div.icon_call img.contact{
/*
    border: 1px solid #dedede;
    border-radius: 100%;
*/
/*    margin: 0 auto 20px;*/
/*    padding: 10px;*/
/*    border-spacing: 40px 40px;*/
/*    border-bottom-width: thin;*/
/*    border-radius: 100%;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 16px;
    height: 70px;
    width: 60px;
    vertical-align: center;
    background-size: 80px;
    
    
}

div.icon_mail{
    border: 1px solid gray;
    border-radius: 100%;
    margin: 0 auto 20px;
    height: 120px;
    width: 120px;
    padding: 7px;
    
/*    padding-top: 12px;*/
    
}

div.icon_mail img.mail{
/*    margin: 20px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 21px;
    height: 60px;
    width: 80px;
    vertical-align: center;
    background-size: 80px;
    
}

div.icon_hours{
    border: 1px solid gray;
    border-radius: 100%;
    margin: 0 auto 20px;
    height: 120px;
    width: 120px;
    padding: 7px;
    
/*    padding-top: 12px;*/
    
}

div.icon_hours img.hours{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    height: 60px;
    width: 60px;
    vertical-align: center;
    background-size: 80px;
}

div.icon_location{
    border: 1px solid gray;
    border-radius: 100%;
    margin: 0 auto 20px;
    height: 120px;
    width: 120px;
    padding: 7px;
    
/*    padding-top: 12px;*/
    
}

div.icon_location img.address{
    margin-left: auto;
    margin-right: auto;
    display: block;
     margin-top: 20px;
    height: 60px;
    width: 65px;
    vertical-align: center;
    background-size: 80px;
}


footer.footsy ul{
   list-style: none;
   text-align: left;
   padding-left: 0;
}

footer.footsy ul li{
   color: black;
   font-size: 22px;
   line-height: 1.5;
}


/*####### Mobile ######*/

@media screen and (max-width: 680px)
{

    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }

    h1.section2Header{
        font-size: 50px;
    }

    article p{
        font-size:25px;
    }

    .col-6,
    .col-4,
    .col-7,
    .col-5{
        width: 100%;
        margin: 0;
    }

    div.mobileStack{
        width: 50%;
        display: block;
    }

    div.box{
        padding: 5px;
        display: block;
    }

    /**/

    div.slopeIcon{
        margin: 10px;
    }

    div.slopeIcon img{
        width: 100%;
    }

    div.leftSide-col,
    div.rightside-col{
        margin: 15px;
    }

    input[type="text"]{
        width: 350px;
    }
    .vedioContainer iframe{
        position: relative;
        width:100%;
        margin: 0;
        overflow: hidden;
    }


}